/*YELLOW: #FFC75F*/
/*YELLOW_DARK: #E7B355*/
/*PURPLE: #845EC2*/

/*LIGHT_GREY: #EFEFEF (Inputs)*/
/*GREY: #969696 (Text)*/

/*GOOGLE FONTS:*/
/*Headings*/
/*Love Ya Like A Sister:*/
/*https://fonts.google.com/specimen/Love+Ya+Like+A+Sister?query=Love+Ya+Like+a+sister*/

/*Body Text*/
/*Sanchez:*/
/*https://fonts.google.com/specimen/Sanchez?query=Sanchez*/
@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Sanchez&display=swap');

.navbar {
    background-color: #FFC75F;
    border-bottom: solid 2px #969696 ;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.navbar .headline {
    font-family: 'Love Ya Like A Sister', cursive;
    color: white;
    list-style-type: none;
    font-size: 1.3rem;
    margin-left: 20px;
}

.user-menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;

}

.user-menu-link{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    padding-right: 8px;
}

.user-menu-link:hover {
    font-weight: bold;
}

.main-container {
    background-color: #FFC75F;
    padding: 50px;
    text-align: center;
    position: relative;
}

.hero-container {
    display: grid;
    grid-template-columns: 30% 70%;
}

.hero-img-container {
    position: relative;
}

.hero-img-splash {
    max-width: 100%;
    width: 200px;
}

.hero-img-robot {
    max-width: 100%;
    width: 150px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.hero-text-container {
    text-align: left;
}

.hero-title {
    font-family: 'Love Ya Like A Sister', cursive;
    color: white;
    font-size: 3rem;
    font-weight: normal;
}

.hero-subtitle {
    font-family: 'Sanchez', serif;
    font-size: 1.7rem;
    font-weight: normal;
    color: white;
}

.login-input-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border-bottom: 17px solid #845EC2;
    width: 80%;
    margin: auto;
    box-shadow: 1px -1px 13px 2px #969696;
    position: absolute;
    bottom: -14%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.login-input-container {
    background-color: #EFEFEF;
    color: white;
    border: 2px solid #969696;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-button {
    border: none;
    background-color: transparent;
}
.arrow-icon {
    color: #845EC2;
    cursor: pointer;
    font-size: 30px;
}

input:focus{
    outline: none;
}

#translation-form {
    background-color: #FFC75F;
    padding: 40px;
    color: white;
}

.translation-input-container{
    background-color: #EFEFEF;
    border: 2px solid white;
    border-radius: 20px;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.keyboard-icon {
    color: #969696;
    font-size: 30px;
    margin-right: 10px;
}

.divider {
    color: #969696;
    font-size: 25px;
    margin-right: 10px;
}

.translation-input-field, .login-input-field {
    border: none;
    background-color: #EFEFEF;
    width: 100%;
    font-size: 1.3rem;
}

.translation-input-field::placeholder, .login-input-field::placeholder {
    font-family: 'Sanchez', serif;
    color: #b2b2b2;
}

.translation-result-container {
    margin: 50px;
    border-bottom: 40px solid #845EC2;
    border-radius: 10px;
    min-height: 300px;
    box-shadow: 1px -1px 13px 2px rgba(132, 94, 194, 0.7);
}

.profile-container {
    background-color: #FFC75F;
    padding: 20px;
}

.translation-history-container {
    background-color: white;
    margin: 50px;
    padding: 20px;
    border-bottom: 40px solid #845EC2;
    border-radius: 10px;
    min-height: 300px;
    box-shadow: 1px -1px 13px 2px rgba(132, 94, 194, 0.7);
}

.translation-history-title {
    margin-bottom: 10px;
}

.translation-history-item {
    list-style-type: none;
}

.profile-headline {
    color: white;
}

profile-btn-container {
    display: flex;
}

.profile-btn {
    margin: 5px;
    padding: 7px;
    border: none;
    border-radius: 3px;
    background-color: #845EC2;
    color: white;
    cursor: pointer;
}

.profile-btn:hover {
    box-shadow: 0px 0px 2px 1px rgb(132 94 194 / 70%);
    background-color: #7151a5;
}



